{% extends 'base.html' %}

{% load humanize %}

{% block title %}| Список застройщиков {% endblock title %}
{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">Список застройщиков</h1>
          <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, pariatur!</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Главная</a>
          </li>
          <li class="breadcrumb-item active">Застройщики</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Developers -->
  <section id="developers" class="py-4">
    <div class="container">
      <div class="row">
        {% if developers %}
          {% for developer in developers %}
          <!-- Developer 1 -->
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card developer-preview">
              <img class="card-img-top" src="{{ developer.logo.url }}" alt="">
              <div class="card-img-overlay">
                <h2>
                  <span class="badge badge-secondary text-white">{{ developer.name }}</span>
                </h2>
              </div>
              <div class="card-body">
                <div class="listing-heading text-center">
                  <h4 class="text-primary">{{ developer.type_of_organization }} {{ developer.name }}</h4>
                  <p>
                    <i class="fas fa-map-marker" aria-hidden="true"></i> {{ developer.city_main_location}}</p>
                </div>
                <hr>
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    {% if developer.is_holding_member %}
                      <!-- Вставить картинки: вид организации /  ИНН / принадлежность холдингу / сайт -->
                      <i class="fa fa-flag" aria-hidden="true"></i> ВКБ</div>
                    {% else %}
                      <i class="fa fa-flag" aria-hidden="true"></i> не ВКБ</div>
                    {% endif %}
                    
                  <div class="col-6">
                    <i class="fa fa-info" aria-hidden="true"></i> ИНН {{ developer.inn_organization}}</div>
                </div>
                <hr>
                <div class="row py-2 text-secondary">
                  <div class="col-12">
                    <i class="fas fa-user"></i> Руководитель:{{ developer.inn_organization }}</div>
                </div>
                <div class="row text-secondary pb-2">
                  <div class="col-12">
                  <i class="fas fa-user"></i> <a href="{{ developer.web_site }}" target=_blank > Сайт организации</a>
                  </div>
                </div>
                <hr>
                <a href="{% url 'developer' developer.id %}">Подробнее</a>  
              </div>
              <a href="{% url 'developer' developer.id %}">test</a>
            </div>
            <a href="{% url 'developer' developer.id %}">Подробнее</a>  
          </div>

          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>Нет  по данным критериям</p>
          </div>
        {% endif %}
      </div>

      <div class="row">
        <div class="col-md-12">
          {% if developers.has_other_pages %}
          <ul class="pagination">
            {% if developers.has_previous %}
              <li class="page-item">
                <a href="?page={{developers.previous_page_number}}" class="page-link">&laquo;</a>
              </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link">&laquo;</a>
            </li>
            {% endif %}
            {% for i in developers.paginator.page_range %}
              {% if developer.number == i %}
                <li class="page-item active">
                  <a class="page-link">{{i}}</a>
                </li>
              {% else %}
                <li class="page-item">
                  <a href="?page={{i}}" class="page-link">{{i}}</a>
                </li>
              {% endif %}                
            {% endfor %}
            {% if developers.has_next %}
              <li class="page-item">
                <a href="?page={{developers.next_page_number}}" class="page-link">&raquo;</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link">&raquo;</a>
              </li>
            {% endif %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
    


